@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@400;600;700&family=Open+Sans:wght@400;600;700&display=swap');

@mixin flex{
    display: flex;
    align-items: center;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

body{
    background-color: #0C0B08;
    color: #FFFFFF;
    font-size: 15px;
}



nav{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 1em 2em;
    font-family: 'Open Sans', sans-serif;

    img{
        width: 150px;
    }

    .nav-links{
        @include flex();
        gap: 1em;
    }
    
    .reg{
        @include flex();
        gap: 1em;
    }
}

.hero{
    padding: 1em 2em;

    .hero-container{
        @include flex();
        justify-content: space-between;
        margin-bottom: 1em;

        .hero-img{
            width: 40%;

            img{
                width: 100%;
            }
        }

        .hashtag{
            writing-mode: vertical-lr;
            text-orientation: upright;
            // gap: 2em;
        }

        .hero-desc{
            width: 40%;

            .chase{
               font-family: 'Cormorant Upright', serif;
               text-transform: capitalize;
               word-spacing: 3px;
            }

            h2{
                font-size: 5.5rem;
                color: #DCCA87;
                font-family: 'Cormorant Upright', serif;
                word-spacing: 3px;
                text-transform: capitalize;
                margin-bottom: 18px;
            }

            .detail{
                line-height: 1.5;
                font-family: 'Open Sans', sans-serif;
                margin-bottom: 1.5em;
            }

            button{
                font-family: 'Cormorant Upright', serif;
                padding: 0.7em 1.5em;
                background-color: #DCCA87;
                color: #0C0B08;
                border: none;
                font-family: 'Cormorant Upright', serif;
                cursor: pointer;
                font-size: 16px;
            }
        }

    }

    .timer{
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        position: relative;
        span{
            position: relative;
            &::before{
                content: "";
                display: block;
                width: 8px;
                height: 2px;
                background: #DCCA87;
                position: absolute;
                left: 0;
                top: 50%;
                z-index: -2;
            }
        }
        
    }
}
